<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/Style.css">
        <title>404 Error</title>
    </head>

    <body>
        <div class="mainPage">
            {{>header}}
            <p> {{errorMessage}} </p>
        </div>
        {{>footer}}
    </body>
</html>