<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/Style.css">
        <title>about</title>
    </head>

    <body>
        <div class="mainPage">
            {{>header}}
            <p>This site was made by FoxSinOfGreed. It uses data from <a href="https://openweathermap.org/">openweathermap.org</a></p>
            <img src="/IMG/FSOG.jpg" alt="meme" class="meme">
        </div>
        
        {{>footer}}
    </body>
</html>