<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/Style.css">
        <link rel="icon" href="/IMG/help.png">
        <title>help</title>
    </head>

    <body>
        <div class="mainPage">
            {{>header}}
            <p>Help Text Lorem Ipsum</p>
        </div>
        {{>footer}}
    </body>
</html>